{% extends "@mfx/HTML.twig" %}

{% block body %}
    {{ parent() }}

    <h1>Hello world!</h1>

    <p>This instance of <a href="https://github.com/chsxf/mfx" target="_blank">MFX</a> runs on PHP <strong>{{ php_version }}</strong>.</p>
{% endblock %}