{% extends "root.twig" %}

{% block page_title "Latest Albums" %}

{% block page_content %}
	{{ parent() }}

	<table class="table table-striped">
		<thead>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
		</thead>
		<tbody>
			{% for id, title in albums %}
				<tr>
					<th scope="row">{{ id }}</th>
					<td>{{ title }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2" class="text-secondary">No album found :(</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
