{% extends "@mfx/HTML.twig" %}

{% block body %}
	{{ parent() }}

	<h1>Add New Album</h1>

	<form method="post" action="/Album/add">
		<p>Name:
			{% dv_field validator 'name' %}</p>
		<div id="suggestions">
			<p>Suggestions:</p>
			<ul></ul>
		</div>
		<hr/>
		<div id="cover">
			<img width="256"/>
			<p><a href="#">Download Covers</a></p>
			<hr/>
		</div>
		<p>Deezer:
			{% dv_field validator 'deezer_platform_id' %}
			<span id="deezer_url"></span>
		</p>
		<p>Spotify:
			{% dv_field validator 'spotify_platform_id' %}</p>
		<p>Apple Music:
			{% dv_field validator 'apple_music_platform_id' %}</p>
		<hr/>
		<button type="submit">Add</button>
	</form>
{% endblock %}
